<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Javascript 2</title>
</head>

<body>
    <div id="app">
        <header class="header container">
            <search @search-input="searchHandler($event)"></search>
            <button v-on:click="toggleCart()" class="header__cart-show btn">Cart ({{itemsInCart}})</button>
        </header>
        <main>
            <section v-if="isVisibleCart" class="cart container">
                <cart-component v-bind:total="getCartTotal">
                    <empty v-if="this.cart.length === 0"></empty>
                    <cart-item 
                    v-for="item in cart" 
                    v-bind:key="item.id" 
                    v-bind:id="item.id" 
                    v-bind:title="item.title"
                    v-bind:price="item.price" 
                    v-bind:img="item.img" 
                    v-bind:quantity="item.quantity"
                    @add-to-cart="addToCart(item.id)"
                    @dec="deleteFromCart(item.id)"></cart-item>
                </cart-component>
            </section>
            <section class="shop container">
                <h2 class="shop__title">Shop</h2>
                <ul class="shop__item-list">
                    <empty v-if="filteredGoods.length === 0"></empty>
                    <shop-item 
                    v-for="good in filteredGoods" 
                    v-bind:key="good.id" 
                    v-bind:id="good.id"
                    v-bind:title="good.title" 
                    v-bind:price="good.price"
                    v-bind:img="good.img"
                    @click='addToCart(good.id)'>
                        <add-btn v-bind:id="good.id" @add-to-cart="addToCart(good.id)">Add to cart</add-btn>
                    </shop-item>
                </ul>
            </section>
        </main>
        <footer class="footer">

        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="./js/v-script.js"></script>
</body>

</html>